<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
   	 <route id="systemconfigurable" frontName="systemconfigurable">
   		 <module name="AHT_SystemConfigurable" />
   	 </route>
    </router>
</config>